.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
}

.wrapper-small {
    margin: 0 auto;
    width: 80%;
    max-width: 950px;
}

.section-padding {
    padding: 6rem 0;
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.title-three {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.8rem;
}

.book-btn {
    
    padding: 0.7em 1em;
    background-color: $black;
    color: $white;
    border: 2px solid $black;
    font-weight: 500;
    transition: background-color .3s ease, color .3s ease;
    letter-spacing: 1px;
    font-size: 2rem;

    &:hover {
        background-color: transparent;
        color: $black;
    }
}

@mixin background-image($url, $alfa) {
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, $alfa), rgba(0, 0, 0, $alfa)), url($url);
}