@media(min-width: 1200px) {

    // NAV
    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: block;
    }

    .nav {

        &__box {
            justify-content: space-between;
        }

        &__list {

            flex-direction: row;
            width: auto;
            height: auto;
            transform: translateX(0);

            &-item-link {
                padding: 3rem;
            }

        }
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 4rem;
        margin-bottom: 6rem;
    }

    // ABOUT US

    .about-us {
        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        &__img {
            width: 45%;
            margin-right: 7rem;
            height: fit-content;
        }

        &__box {
            margin: 0;
            width: 55%;
        }

        &__box-text {
            line-height: 160%;
        }
    }

    // OFFER

    .offer {
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                margin: 1em .5em;
                width: 45%;

                &-pricing {
                    display: flex;

                    align-items: flex-end;
                }

                &-title-four {
                    padding-right: .5em;
                    text-transform: uppercase;
                }

                &-border {
                    border-bottom: 1px solid $black;
                    width: 100%;
                    height: 100%;
                }

                &-price {
                    height: 100%;
                    padding-left: .5em;
                    font-weight: bold;
                }

                &-text {
                    font-size: 1.6rem;
                    padding: .5em 0;
                }

            }
        }
    }
}