@media(min-width:768px) {
    .title {
        font-size: 3.5rem;
    }

    .title-three {
        font-size: 2.5rem;
    }

    .text {
        font-size: 2rem;
    }

    // HEADER
    .header {
        @include background-image("../img/header-big.png", .1);

        &__heading {
            font-size: 5.5rem;
        }
    }

    // OFFER

    .offer {
        &__list {
            &-item {

                &-title-four,
                &-price {
                    font-size: 2.5rem;
                }
            }
        }
    }

    // BAR

    // .bar {
    //     @include background-image("../img/header-big.png", .1);

    //     &__span {
    //         font-size: 3rem;
    //     }
    // }

    // KONTAKT

    .contact {

        &__wrapper {
            flex-direction: row;
        }

        &__left {
            flex: 2;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__right {
            flex: 1.5;
            height: auto;
        }

        &__textarea {
            height: 40%;
        }


    }



}