@media(min-width:768px) {
    .title {
        font-size: 3.5rem;
    }

    .title-three {
        font-size: 3rem;
    }

    .text {
        font-size: 2rem;
    }

    // HEADER
    .header {
        @include background-image("../img/header-big.jpg", .1);

        &__heading {
            font-size: 5.5rem;
        }
    }

    // OFFER

    .offer {
        &__list {
            &-item {
                &-title-four, &-price {
                    font-size: 2.5rem;
                }
            }
        }
    }
}