@import 'colors', 'components';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    color: $black;
    background-color: $white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
}

// NAV

.nav-desktop {
    display: none
}

.nav {
    position: fixed;
    background-color: $white;
    height: 100px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__logo-link {
        padding: 0.5em;

        img {
            height: 40px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        margin: 0 auto;
        width: 80%;
        height: 100%;

    }

    &__list {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        height: 100vh;
        background-color: $white;
        list-style-type: none;
        transform: translateX(100%);
        transition: transform .3s ease;
        font-size: 2rem;

        &--active {
            transform: translateX(0);
        }

        &-item-link {
            height: auto;
            text-align: center;
            color: #000;
            text-decoration: none;
            display: block;
            padding: 3rem 0;
            width: 100%;
            transition: color .3s ease;

            &:hover {
                color: $red;
            }
        }
    }
}

.nav-margin {
    height: 100px;
}

// HEADER

.header {
    height: calc(100vh - 100px);
    @include background-image("../img/header-small.jpg", .1);

    .header__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }

    &__heading {
        color: $black;
        font-size: 4rem;
    }

    &__text {
        color: $black;
        margin: .5em 0 1em 0;
        font-size: 2rem;
    }
}

// ABOUT US

.about-us {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 100%;
    }

    &__box {
        margin-top: 2rem;
    }
}

// OFFER

.offer {
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        &-item {
            margin-bottom: 1.5em;

            &-pricing {
                display: flex;

                align-items: flex-end;
            }

            &-title-four {
                padding-right: .5em;
                text-transform: uppercase;
                font-size: 2rem;
            }

            &-border {
                border-bottom: 1px solid $black;
                width: 100%;
                height: 100%;
            }

            &-price {
                height: 100%;
                padding-left: .5em;
                font-weight: bold;
                font-size: 2rem;
            }

            &-text {
                // font-size: 1.6rem;
                padding: .5em 0;
            }

        }
    }
}

@import 'small', 'medium', 'large';